
params {
  use_container = false
  alpaca_container = 'docker://wlippa/alpaca:1.0'
}

singularity {
  enabled = params.use_container in [true, 1, '1', 'true', 'TRUE', 'yes', 'YES', 'on', 'ON']
  autoMounts = true
}

profiles {
  slurm { includeConfig 'slurm.conf' }
  local { includeConfig 'local.conf' }

}
