profiles {
    local {
        process.executor = 'local'
        conda.enabled = true
    }
    slurm {
        process.executor = 'slurm'
        process.queue = 'normal'
        conda.enabled = true
    }
}

process {

    conda = System.getenv('CONDA_ENV') ?: null
    withLabel: 'low' {
        memory = '4 GB'
        time = '4h'
    }

    withLabel: 'worker_high' {
        memory = '4 GB'
        time = '72h'
    }

}
